@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .soal-shadow {
    filter: drop-shadow(0px 10px 20px rgba(38, 50, 56, 0.12));
  }

  .input-base {
    @apply w-full rounded-lg bg-transparent text-sm text-font outline-none placeholder:text-gray-400 xl:text-[15px];
  }

  .unauth {
    background: repeating-linear-gradient(45deg, #039be5 0px, #039be5 20px, #90caf9 20px, #90caf9 40px);
  }
}
