@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .primary-button {
    box-shadow: 0px 10px 25px rgba(252, 185, 0, 0.3);
    @apply h-10 rounded-lg bg-primary text-sm font-semibold text-font hover:bg-[#EEAF00] md:h-11 md:text-base;
  }

  .card-shadow {
    box-shadow: 0px 30px 80px rgba(252, 185, 0, 0.3);
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .icon-wrapper {
    @apply flex h-[30px] w-[30px] items-center justify-center rounded-full;
  }

  .tabs {
    @apply w-full border-b-4 pb-4;
  }
}
